a {
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.header-h3 {
    font-weight: bold;
    font-size: 1.5em;
}

.header-ul {
    display: flex;
    font-weight: bold;

}

.header-li {
    margin-left: 10px;
}

.text {
    font-size: 50px;
    margin-top: 450px;
}

.box {
    width: 1000px;
    height: 270px;
    background-color: blue;
}

img {
    position: relative;
    float: right;
    margin-top: 200px;
    right: 0px;
    width: 700px;
    height: 400px;
}